/*--- CSS Grid ---*/
.grid-container {
  margin: 0 auto;
  background-color: rgb(181, 156, 211);
  display: grid;
  grid-template-columns: 
    repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 10px;
}